/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dataTables/jquery.dataTables.bootstrap
 *= require_tree .
*/

a {
	outline: none;
}
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
/*  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
}

.modalbutton {


/*	background: rgba(0, 0 , 0, .5);
	border-radius: 5px;
	padding: 10px 10px 15px 10px;*/
	border: 1px solid #1282ba;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	color: #FFF;
	background-color: #3995c3;
	background-image: -moz-linear-gradient(top,#009eed,#0088cc);
	background-image: -ms-linear-gradient(top,#009eed,#0088cc);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#009eed),to(#0088cc));
	background-image: -webkit-linear-gradient(top,#009eed,#0088cc);
	background-image: -o-linear-gradient(top,#009eed,#0088cc);
	background-image: linear-gradient(top,#009eed,#0088cc);
	background-repeat: repeat-x;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr=#ff009eed, endColorstr=#ff88bd32, GradientType=0 )";
	text-shadow: 0 -1px 0 #256c90;
	padding: 6px 12px 6px 12px;
	border-radius: 4px;
}

.homebutton {
	font-style: helvetica;
	position: fixed;
/*	font-weight: bold;
*/	font-size: 18px;
	z-index: 500;
	bottom: 30px;
	right: 40px;
/*	background: rgba(0, 0 , 0, .5);
	border-radius: 5px;
	padding: 10px 10px 15px 10px;*/
	border: 1px solid #1282ba;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	color: #FFF;
	background-color: #3995c3;
	background-image: -moz-linear-gradient(top,#009eed,#0088cc);
	background-image: -ms-linear-gradient(top,#009eed,#0088cc);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#009eed),to(#0088cc));
	background-image: -webkit-linear-gradient(top,#009eed,#0088cc);
	background-image: -o-linear-gradient(top,#009eed,#0088cc);
	background-image: linear-gradient(top,#009eed,#0088cc);
	background-repeat: repeat-x;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr=#ff009eed, endColorstr=#ff88bd32, GradientType=0 )";
	text-shadow: 0 -1px 0 #256c90;
	padding: 10px 15px 12px 15px;
	border-radius: 4px;
}

#icecream {
	text-align: center;
}

#video {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border: 0;
	z-index: 1;
}

#image {
	z-index: 1000;
	position: relative;
}

.iframe {
	position: relative;
}